html * {
    box-sizing: $box-sizing;
}

body {
      font-family: 'Berkshire Swash', cursive;
      padding: 100px;
      background-color: #fafafa;
}

main {
     display: flex;
     justify-content: center;
      width: 1000px;
      height: 480px;
      margin: 0 auto;
      
}